include README-Krionis-pipeline.md
include LICENSE
include CHANGELOG.md
include requirements.txt

recursive-include rag_llm_api_pipeline/api *.py
recursive-include rag_llm_api_pipeline/cli *.py
recursive-include rag_llm_api_pipeline *.py
recursive-include rag_llm_api_pipeline/web *.html
recursive-include rag_llm_api_pipeline/ui *.html

recursive-include config *.yaml
prune data/manuals
include data/manuals/sample.txt
